.personalInfo {
  grid-column: 1 / -1;
}

.infoText {
  font-size: 1.3em;
  color: rgb(217, 96, 124);
  font-weight: 900;
  font-style: italic;
  text-align: center;
}

@media (max-width: 768px) {
  .infoText {
    font-size: 1.1em;
    text-align: center;
    padding: 0 10px;
  }
}

@media (max-width: 480px) {
  .infoText {
    font-size: 1em;
  }
}