.banner{
    display: flex;
    justify-content: center;
    align-items: center;
    margin:30px 35px 30px 35px;
}

.banner__row{
    display: flex;
    flex-direction: row;
    justify-content: center; 
    gap:15px;
}

@media (max-width: 768px) {
    .banner__row {
        flex-direction: column;
        align-items: center;
    }
}

.row__column{
    display: flex;
    flex-direction: column;
    row-gap: 15px;
}

.column__block{
    background-color: var(--border-background);
    border: var(--border-color);
    border-radius: var(--border-radius);
    padding: 0 30px 20px 30px;
    row-gap: 20px;
}

.column__blockMF{
    display: flex;
    justify-content: center;
    background-color: var(--border-background);
    border: var(--border-color);
    border-radius: var(--border-radius);
    padding: 0 30px 20px 30px;
    row-gap: 20px;
}

.column__block-error{
    background-color: var(--border-background-error);
    border: var(--border-color);
    border-radius: var(--border-radius);
    padding: 0 30px 20px 30px;
    row-gap: 20px;
}