.column__field {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  &:has(.field__input:not(:placeholder-shown)) .field__label {
    visibility: hidden;
    transition-duration: 0s;
  }
}

.field__label {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  font-size: 25px;
  font-weight: 800;
  pointer-events: none;
  z-index: 1;
  margin: 0;
}

.field__input {
  text-align: center;
  font-size: 25px;
  font-weight: 800;
  width: 100%;
  height: 75px;
  padding: 0 20px;
  background-color: var(--border-background);
  border: var(--border-color);
  border-radius: var(--border-radius);
  color: var(--color-text);

  &:hover,
  &:focus {
    border: var(--border-color);
  }
}