/* *{outline: 4px green solid;} */

body {
  padding-top: 50px;
  background-color: #222;
  font-family: "Roboto", sans-serif;
  scroll-behavior: smooth;
}

section {
  scroll-margin-top: 40px;
}

.panel {
  background: black;
  position: fixed;
  top: 0;
  height: 40px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
}

.panel ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.panel ul > li > a {
  border-bottom: 1px solid transparent;
  transition: border-color 0.6s ease-in-out;
}

.panel ul > li > a:hover {
  border-color: white;
}

.mainpage {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 300px;
}

#about_me {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about_me__title {
  font-family: "Roboto", sans-serif;
  font-size: 25px;
  font-weight: 500;
  color: #fc3468;
  transition: transform 0.3s ease;
  display: inline-block;
  text-align: center;
}

/* .about_me__title:hover {
  transform: scale(1.1);
} */

.about_me1 {
  font-family: "Roboto", sans-serif;
  font-size: 40px;
  font-weight: 600;
  text-align: center;
  color: whitesmoke;
  margin-top: 10px;
}

.about_me2 {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 500;
  text-align: center;
  color: rgb(113, 111, 111);
  margin-top: 10px;
}

.photos_for_about_me {
  display: flex;
  justify-content: center;
  gap: 90px;
  margin-top: 40px;
  flex-wrap: wrap;
}

.photos_for_about_me img {
  width: 400px;
  border-radius: 20px;
  transition: transform 0.3s ease;
}

.photos_for_about_me img:hover {
  transform: scale(1.1);
}

.hobby__title {
  font-family: "Roboto", sans-serif;
  font-size: 40px;
  font-weight: 700;
  color: #fc3468;
  /* margin-top: 200px; */
  margin-left: 60px;
  transition: transform 0.3s ease;
  display: inline-block;
}

/* .hobby__title:hover {
  transform: scale(1.1);
} */

.hobby {
  width: 100%;
}

.hobby__group {
  background-color: black;
  margin-left: 60px;
  margin-top: 20px;
  margin-right: 60px;
  /* height: 1000px;
    width: 1400px; */
  border: 5px black solid;
  border-radius: 20px;
  box-shadow: 0 0 10px black;
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 36px;
}

/* .under_block p {
  color: whitesmoke;
  font-size: 55px;
  margin-top: 30px;
  margin-left: 20px;
  margin-right: 20px;
} */
.hobby__item{
    display: flex;
    flex-direction: column;
    gap:24px;
}
.hobby__item h4 {
  color: whitesmoke;
  font-size: 55px;
}
.hobby__group .hobby__small_text {
  color: rgb(113, 111, 111);
  font-size: 30px;
}


.travels__title {
  font-family: "Roboto", sans-serif;
  font-size: 42px;
  font-weight: 500;
  color: #fc3468;
  text-align: center;
  /* margin-top: 200px; */
  transition: transform 0.3s ease;
}

/* .travels__title:hover {
  transform: scale(1.1);
} */

.travels {
  font-family: "Roboto", sans-serif;
  color: whitesmoke;
  font-size: 30px;
  font-weight: 500;
  margin-top: 30px;
  text-align: center;
}

.country_block {
  margin-top: 30px;
  margin-left: 75px;
}

.photos_for_travels {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
  flex-wrap: wrap;
}

.photos_for_travels img {
  border-radius: 20px;
  width: 210px;
  height: auto;
  transition: transform 0.3s ease;
}

.photos_for_travels img:hover {
  transform: scale(1.1);
}

.small_text_travels {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  text-align: center;
  color: rgb(113, 111, 111);
  margin: 40px 150px;
}

.dreams__title {
  font-family: "Roboto", sans-serif;
  font-size: 45px;
  font-weight: 600;
  color: #fc3468;
  /* margin-top: 300px; */
  margin-left: 75px;
  transition: transform 0.3s ease;
  display: inline-block;
}

.dreams__title:hover,
.hobby__title:hover,
.travels__title:hover,
.about_me__title:hover {
  transform: scale(1.1);
}

.dreams__group {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 150px;
  justify-content: space-between;
  margin-right: 60px;
}

.dream {
  display: flex;
  flex-direction: column;
  margin-left: 75px;
  max-width: 300px;
  margin-top: 50px;
}

.dream_title {
  font-family: "Roboto", sans-serif;
  color: whitesmoke;
  font-size: 35px;
  font-weight: 500;
}

.small_text_dreams {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  color: rgb(113, 111, 111);
  margin-top: 10px;
}

.bottom_panel {
  margin-top: 200px;
  background: black;
  position: static;
  height: 100px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bottom_panel ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  color: whitesmoke;
}
