/* *{outline: 4px green solid;} */

body {
  padding-top: 50px;
  background-color: #222;
  font-family: "Roboto", sans-serif;
  scroll-behavior: smooth;
}

section {
  scroll-margin-top: 40px;
}

#about_me {
  display: flex;
  flex-direction: column;
  align-items: center;
}


