@font-face {
  font-family: 'MADETheArtistSans';
  src: url(fonts/madetheartistsans.ttf);
}
@font-face {
	font-family: 'MADETheArtistScript';
  src: url(fonts/madetheartistscript.ttf) format('truetype');
}
body{ 
  background-color: var(--bg-color);
  font-family: 'MADETheArtistSans';
  font-weight: 400;
  color: var(--text-color);
	position: relative;
}
:root{
  --bg-color:#E8E3E1;
  --text-color:rgba(129, 102, 85, 1);
  --accent-color:rgba(130, 24, 17, 1);
}
.container{
  max-width: 1440px;
  margin: 0 auto;
}
img{
  display: block;
  max-width: 100%;
  height: auto;
  align-self: center;
}
/* Text */

/* .text-h2 {
  font-size: 150px;
  margin-top: 9px;
  margin-left: 44px;
  line-height: 150px;
}
.text-h3 {
  color: var(--accent-color);
  font-size: 52px;
  letter-spacing: 0.03em;
}
.text-p {
  font-size: 55px;
  max-width: 735px;
  margin-top: 28px;
} */