.photoDefault {
    background-image: url('../../../assets/myphoto.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    min-width: 365px;
    min-height: 365px;
    border-radius: var(--border-radius);
}

.photoAngry {
    background-image: url('../../../assets/photoangry.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    min-width: 365px;
    min-height: 365px;
    border-radius: var(--border-radius);
}