.textH2 {
 font-size: 150px;
 margin-top: 9px;
 margin-left: 44px;
 line-height: 150px;
}
.textP {
 font-size: 55px;
 max-width: 735px;
 margin-top: 28px;
}
.about_me {
 margin-top: 226px;
 padding: 0 0 0 55px;
}
.about_me span{
 text-decoration: underline;
}
.about_me__flex {
 display: flex;
 gap: 95px;
}
.about_me img{
 margin-top: 93px;
}
.about_me__bottom {
 font-size: 55px;
 line-height: 55px;
 max-width: 1240px;
 margin: 42px 0 0 46px;
}
.about_me img{
	border-radius: 20px;
}
.stamp{
 position: absolute;
 right: 37px;
	
}
.numbers{
 color: var(--accent-color);
 position: absolute;
 font-size: 40px;
 width: 445px;
 height: 46px;
 transform: rotate(90deg);
 letter-spacing: 0.54em;
	right: -170px;
	top: 980px;
}
@media screen and (max-width:1400px) {
	.textH2 {
		font-size: 120px;
		line-height: 120px;
	}
	.textP {
		font-size: 40px;
	}
	.about_me img{
		margin: 0;
	}
	.numbers{
		top: 880px;
	}
	.about_me__bottom{
		font-size: 45px;
		line-height: 40px;
		text-align: center;
		margin-left: 0;
	}
}
@media screen and (max-width:1280px){
	.about_me{
		padding-left: 20px;
	}
	.about_me__flex img{
		width: 400px;
	}
	.about_me__flex{
		gap: 30px;
	}
	.stamp{
		width: 120px;
	}
	.numbers{
		font-size: 35px;
	}
	.textH2{
		font-size: 100px;
	}
}
@media screen and (max-width:1068px){
	.textH2 {
  font-size: 70px;
  line-height: 70px;
	}
 .textP {
  font-size: 30px;
 }
 .about_me__flex img{
  max-width: 300px;
 }
 .about_me h2{
  max-width: 400px;
 }
 .numbers{
  top: 780px;
  font-size: 28px;
 }
 .about_me__bottom{
  font-size: 35px;
 }
}
@media screen and (max-width:820px){
	.about_me__flex img{
		max-width: 220px;
	}
 .textH2 {
  font-size: 50px;
  line-height: 50px;
 }
 .textP {
  font-size: 22px;
 }
 .about_me h2{
  max-width: 200px;
  margin-left: 0;
 }
 .numbers{
  font-size: 20px;
  top: 730px;
  right: -190px;
 }
 .stamp{
  width: 90px;
 }
 .about_me__bottom{
  font-size: 25px;
 }
}
@media screen and (max-width:590px){
	.textH2 {
		font-size: 30px;
		line-height: 30px;
	}
	.textP {
		font-size: 15px;
	}
	.about_me{
		margin-top: 80px;
	}
	.about_me__flex img{
		max-width: 150px;
	}
	.about_me__bottom{
		font-size: 18px;
		line-height: 18px;
	}
	.stamp{
		max-width: 60px;
	}
	.numbers{
		font-size: 15px;
		top: 530px;
		right: -170px;
	}
}
@media screen and (max-width:440px){
	.textH2 {
		font-size: 22px;
		line-height: 20px;
	}
	.textP {
		font-size: 12px;
	}
	.about_me{
		padding-left: 5px;
	}
	.about_me__flex img{
		max-width: 120px;
		border-radius: 12px;
	}
	.about_me__flex{
		gap: 5px;
	}
	.about_me__bottom{
		font-size: 13px;
		line-height: 13px;
		margin-top: 20px;
	}
	.about_me h2{
		max-width: 100px;
	}
	.stamp{
		max-width: 40px;
		right: 10px;
	}
	.numbers{
		font-size: 11px;
		top: 490px;
		right: -190px;
	}
}