.skills__grid {
 margin-top: 81px;
 padding-left: 41px;
 display: grid;
 grid-template-columns: repeat(2,478px);
 gap: 100px;
}
.skillsGridItem p {
 border-radius: 100px;
 background: var(--text-color);
 color: var(--bg-color);
 font-size: 32px;
 width: 478px;
 height: 66px;
 display: flex;
 align-items: center;
 justify-content: center;
}
.percent {
	width: 478px;
 margin-top: 16px;
 font-size: 43px;
 text-align: center;
}
@media screen and (max-width:1400px) {
	.skills__grid{
		gap: 30px;
	}
}
@media screen and (max-width:1280px){
	.skillsGridItem p{
		font-size: 26px;
		width: 400px;
	}
	.percent{
		font-size: 35px;
		width: 400px;
	}
	.skillsGridItem img{
		width: 400px;
	}
	.skills__grid{
		grid-template-columns: repeat(2,400px);
	}
}
@media screen and (max-width:1068px){
		.skills__grid{
			grid-template-columns: repeat(1,400px);
			gap: 50px;
		}
}
@media screen and (max-width:820px){
	.skillsGridItem p {
		font-size: 18px;
		width: 280px;
		height: 44px;
	}
	.skills__grid{
		grid-template-columns: repeat(1,280px);
		gap: 20px;
	}
	.percent{
		width: 280px;
		font-size: 25px;
	}
}
@media screen and (max-width:590px){
	.skills__grid{
		grid-template-columns: repeat(1,180px);
		gap: 10px;
		margin-top: 20px;
		padding-left: 20px;
	}
	.skillsGridItem p{
		width: 180px;
		height: 33px;
		font-size: 12px;
	}
	.percent{
		width: 180px;
		margin-top: 10px;
		font-size: 18px;
	}
}
@media screen and (max-width:440px){
	.skills__grid{
		grid-template-columns: repeat(2, 150px);
		justify-content: space-around;
		padding-left: 0;
	}
	.skillsGridItem p{
		width: 150px;
		height: 27px;
		font-size: 10px;
	}
	.percent{
		width: 150px;
		font-size: 14px;
	}
}