body{
    font-family: 'Roboto';
    background-color: var(--color-black);
    color: var(--color-text);
}

a,i{
    color:var(--color-links);
    text-decoration: none;
}

a{
    &:hover{
        text-decoration: underline;
    }
}

p{
    font-size: 20px;
}

h2{
    margin-bottom: 0px;
}