.skills {
 margin-top: 84px;
 position: relative;
}
.carpet2{
 margin-top: 55px; 
 width: 100%;
}
.textH2 {
 text-align: center;
 font-size: 150px;
 margin-top: 9px;
 margin-left: 44px;
 line-height: 150px;
}
.Misha{
 position: absolute;
 right: 0;
 top: 450px;
}
@media screen and (max-width:1400px) {
	.textH2 {
		font-size: 120px;
		line-height: 120px;
	}
	.Misha{
		top: 380px;
		max-width: 240px;
	}
}
@media screen and (max-width:1280px){
	.textH2{
		font-size: 100px;
	}
	.Misha{
		max-width: 200px;
	}
}
@media screen and (max-width:1068px){
 .textH2 {
  font-size: 70px;
  line-height: 70px;
 }
 .Misha{
  max-width: 350px;
  width: 100%;
 }
}
@media screen and (max-width:820px){
 .textH2 {
  font-size: 50px;
  line-height: 50px;
 }
 .Misha{
  max-width: 250px;
  top: 280px;
 }
}
@media screen and (max-width:590px){
	.textH2 {
		font-size: 30px;
		line-height: 30px;
	}
	.Misha{
		max-width: 180px;
		top: 150px;
	}
	.skills{
		margin-top: 50px;
	}
}
@media screen and (max-width:440px){
	.textH2 {
		font-size: 22px;
		line-height: 20px;
	}
	.Misha{
		position: static;
		margin: 0 auto;
		max-width: 90px;
	}
}