.field {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.field:has(.input:not(:placeholder-shown)) .label {
    visibility: hidden;
    transition-duration: 0s;
}

.label {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    font-size: 25px;
    font-weight: 800;
    pointer-events: none;
    z-index: 1;
    margin: 0;
    filter: blur(1px);
}

.input {
    text-align: center;
    font-size: 25px;
    font-weight: 800;
    width: 100%;
    height: 75px;
    padding: 0 20px;
    background-color: transparent;
    border: none;
    border-radius: var(--border-radius);
    color: var(--color-text);
    filter: blur(1px);
}

.input:hover,
.input:focus {
    border: none;
}