.hat__row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin:30px 35px 30px 35px;
    flex-direction: row;
    gap:15px;
}

@media (max-width: 1024px) {
    .hat__row {
        transform: scale(0.95);
        margin: 25px 30px;
        gap: 12px;
    }
}

/* Маленькие планшеты */
@media (max-width: 768px) {
    .hat__row {
        transform: scale(0.9);
        margin: 20px 25px;
        gap: 10px;
    }
}

/* Большие телефоны */
@media (max-width: 600px) {
    .hat__row {
        transform: scale(0.85);
        margin: 15px 20px;
        gap: 8px;
    }
}

/* Телефоны */
@media (max-width: 480px) {
    .hat__row {
        transform: scale(0.8);
        margin: 10px 15px;
        gap: 6px;
    }
}

/* Маленькие телефоны */
@media (max-width: 360px) {
    .hat__row {
        transform: scale(0.75);
        
        gap: 1px;
    }
}
