@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
body {
    background-color: #f8f1da; 
    font-family: 'Inter', sans-serif;
    padding-top: 80px;
}
a {
    color: #6a6f4c;          
    text-decoration: none; 
}
a:hover {
    color: darkblue;      
}