@import url('./styles/fonts.css');
@import url('./styles/globals.css');
@import url('./styles/normalize.css');
@import url('./styles/variables.css');

@import url('./styles/components/banner.css');
@import url('./styles/components/field.css');
@import url('./styles/components/button.css');
@import url('./styles/components/photo.css');